{{> header}}


<!-- This is for the main body, with the image -->
<section>
    <h1>Just a random dude. Once was a eunuch.</h1>
    <!-- src is for the image-->
    <img src="images/dude.jpg" alt="The Random">
</section>


{{> footer}}