<!DOCTYPE html>
<html lang="en">
<!-- This is the header page, I created it outside the other html pages and then just add them to each, less code this way -->

<!-- calls the css style sheet -->
<link rel="stylesheet" href="css/main.css">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>Josiah's Art Website</h1>

<!-- navigation bar -->
<nav>
    <ul>
        <li><a href="/">The Duck</a></li>
        <li><a href="/dude">The Random Dude</a></li>
        <li><a href="/slug">The Slug</a></li>
    </ul>
</nav>

