{{> header}}


<!-- This is for the main body, with the image -->
<section>
    <h1>This is my duck, he is very duck like</h1>
    <!-- src is for the image-->
    <img src="images/duck.jpg" alt="The Duck">
</section>


{{> footer}}