<!-- this calls the header page so that I do not have to add the stuff all the time -->
{{> header}}


<!-- This is for the main body, with the image -->
<section>
  <h1>This is my slug, he is very cool.</h1>
  <!-- src is for the image-->
  <img src="images/slug.jpg" alt="The Slug, was going to be a eye at first">
</section>


{{> footer}}